@import "tailwindcss";

/* themes */
:root {
    --background: white;
    --foreground: black;
}

[data-theme='dark'] {
    --background: black;
    --foreground: white;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
    color: var(--foreground);
}